NUMCPU           5
MAXCPU           5
MAINSIZE         8192

CPUSERIAL 002623
CPUMODEL  2086
OSTAILOR  LINUX
ARCHMODE  z/Arch
ALRF     ENABLE
DIAG8CMD ENABLE
FACILITY  ENABLE BIT44
FACILITY  ENABLE BIT45
FACILITY  ENABLE BIT37
FACILITY  ENABLE BIT49
PANOPT RATE=600

# DASD
0120 3390  ./dasd/hd0.120


# network  type                    MTU    zLinux IP    Host Linux IP
0A00,0A01  CTCI -n /dev/net/tun -t 1500   10.1.1.2     10.1.1.1


# moshix LICENSES THE LICENSED SOFTWARE "AS IS," AND MAKES NO EXPRESS OR IMPLIED 
# WARRANTY OF ANY KIND. moshix SPECIFICALLY DISCLAIMS ALL INDIRECT OR IMPLIED  
# WARRANTIES TO THE FULL EXTENT ALLOWED BY APPLICABLE LAW, INCLUDING WITHOUT    
# LIMITATION ALL IMPLIED WARRANTIES OF, NON-INFRINGEMENT, MERCHANTABILITY, TITLE
# OR FITNESS FOR ANY PARTICULAR PURPOSE. NO ORAL OR WRITTEN INFORMATION OR ADVICE
# GIVEN BY moshix, ITS AGENTS OR EMPLOYEES SHALL CREATE A WARRANTY             
